<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183410211335-1nam7486qnpfa82qcrkakniav5l29ver.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183410211335-1nam7486qnpfa82qcrkakniav5l29ver</string>
	<key>API_KEY</key>
	<string>AIzaSyBNhyQTmZcG27LCWidrZWN0yWksm9YpeJg</string>
	<key>GCM_SENDER_ID</key>
	<string>183410211335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdulzahid.appentus.appentus</string>
	<key>PROJECT_ID</key>
	<string>fetchdatafromapi-6edd1</string>
	<key>STORAGE_BUCKET</key>
	<string>fetchdatafromapi-6edd1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183410211335:ios:8d710a39b6c2ea1b3888a2</string>
</dict>
</plist>